* { margin: 0;
  padding: 0;
  border: 0;
  }

  header {
      background-color: white;
      width: 100%;
  }
  header img {
      width: 40%;
      padding: 10px; 
  }

  body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 130%;
    width: 100%;
    height: auto;
  }
  
  nav {
    background-color: #808080;
    text-align: left;
    color: white;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  
  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: #48dcc9;
  
  }
  
  a {
    padding: 20px;
  }
  
  
  h3 {
    font-size: 25pt;
    line-height: .5;
    padding-bottom: 20px;
    padding-left: 35px;
    color: #48dcc9;
    background-color: rgb(250, 250, 250);
    font-family: 'Open Sans', sans-serif;
  }

p {
  padding: 50px;
  max-width: 700px;
  max-height: 20px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  text-align: center;
}

.test_form {
  background-color:  #b8f1ea;
  color: black;
  padding: 50px;
  max-width: 600px;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  padding-bottom: 30px;
}

.firstname input {
  padding: 7px 10px;
  font-size: 18px;
  background-color: lightgrey;
}

.lastname input {
  padding: 7px 10px;
  font-size: 18px;
  background-color: lightgrey;
}

.email input {
  padding: 7px 10px;
  font-size: 18px;
  background-color: lightgrey;
}

.telephone input {
  padding: 7px 10px;
  font-size: 18px;
  background-color: lightgrey;
}

.comments textarea {
  padding: 7px 10px;
  font-size: 18px;
  max-width: 500px;
  background-color: lightgrey;
}

.label_input_wrap {
  display: block;
  padding: 7px;
  font-size: 18px;
}

.submit input {
  background: black;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

nav {
  background-color: #808080;
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color:  #48dcc9;

}

a {
  padding: 20px;
}


h3 {
  font-size: 25pt;
  line-height: .5;
  padding-bottom: 20px;
  padding-top: 25px;
  padding-left: 35px;
  color:  #48dcc9;
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color:  #48dcc9;
  color: white;
  text-align: center;
  font-family: 'open sans';
  width: 100%;
  height: 20px;
  position: absolute;
}

    /* media queries */

    @media (min-width: 375px) {
      body {
       background-image: url('../images/aboutmobile.png');
      }
    }
    
    @media (max-width: 700px) {
      header img {
          width: 50%;
      }
    }
    
    @media (min-width: 800px) {
      body {
          background-image: url('../images/aboutbackground.png');
      }    
    }
